/* 
layoutButtons.css
Called in menuSideBar.js, styles Layout in the menuSideBar
@author Rachel 
*/



/* Buttons Under List */
.button {
    width: 30%;
    color: #373a47; 
    border: none;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.6s;
    font-size: 0.8em;
  }
  
  .hover:hover {
    color:#949da4
  }
  
  #layoutButton {
    background:   #373a47;
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
  }